/* Stile generale per il container delle tabelle */
.table-container {
  width: 100%;
  overflow-x: auto;
  margin-top: 20px;
  background: rgb(242, 234, 234);
  border-radius: 8px;
  padding: 10px;
  flex-grow: 1;
  overflow: auto;
}

/* Stile uniforme per le tabelle */
mat-table {
  width: 100%;
  border-radius: 8px;
  table-layout: fixed;
}

/* Centrare il testo nelle intestazioni delle colonne */
th.mat-header-cell {
  text-align: center !important;
  font-weight: bold;
  vertical-align: middle;
}

/* Centrare il testo nelle celle della tabella */
td.mat-cell {
  text-align: center !important;
  vertical-align: middle;
}

td.mat-cell button {
  display: flex;
  justify-content: center;
  align-items: center;
}

th.mat-header-cell,
td.mat-cell {
  padding: 12px;
}

.main-body {
  display: flex;
  justify-content: flex-start;
  margin-top: 20px;
  height: 100%;
  padding-left: 50px;
  padding-right: 50px;
}

mat-sidenav {
  background-color: #b3e0ff;
  color: #333;
  height: 100%;
}

mat-nav-list {
  background-color: #b3e0ff;
}

mat-nav-list mat-list-item {
  border-radius: 10px;
  border: 1px solid #333;
  padding-top: 20px;
  padding-bottom: 20px;
}

mat-nav-list mat-list-item.selected {
  background-color: rgb(31, 213, 195);
  color: hsl(0, 33%, 95%);
}

mat-nav-list mat-list-item {
  background-color: transparent;
  color: #333;
  margin-bottom: 5px;
}

mat-nav-list mat-list-item:hover {
  background-color: #b3ffdd;
  color: #333;
}

mat-header-row {
  color: #333;
  font-weight: bold;
  width: 25%;
}

mat-row:hover {
  background: #f5f5f5;
}

th,
td {
  padding: 12px;
  text-align: center;
}

.mat-elevation-z8 {
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
}

/* Stile delle card */
.card-container {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  margin-top: 20px;

  
}

.ufficio-card {
  width: 320px;
  margin: 10px;
  padding: 10px;
  text-align: center;
  border-radius: 15px;
  transition: transform 0.3s ease, box-shadow 0.3s ease, filter 0.3s ease;
  box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.2);
  cursor: pointer;
}

/* Effetto hover: ingrandisce e aumenta l'ombra */
.ufficio-card:hover {
  transform: scale(1.05);
  box-shadow: 4px 4px 15px rgba(0, 0, 0, 0.3);
  filter: brightness(1.1);
  background-color: #ecffa7 !important;
}

/* Colori specifici per ogni ufficio */
.ufficio-card:nth-child(1) {
  background-color: #d2dcfc;   
}

.ufficio-card:nth-child(2) {
  background-color: #d2dcfc;  
}

.ufficio-card:nth-child(3) {
  background-color: #d2dcfc;  
}

.ufficio-card:nth-child(4) {
  background-color: #d2dcfc;   
}


 
.iconaUfficio {
  width: 130px;  
  height: 130px;  
  display: flex;
  justify-content: center;   
  align-items: center;  
  margin: 0 auto;  
}
.mat-card-title {
  font-size: 18px;
  font-weight: bold;
  color: white;
  
}

.mat-card-content {
  color: white;
  font-size: 15px;
  padding: 15px;

}

.mat-card-header {
  background-color: rgba(0, 0, 0, 0.1);
  padding: 10px;
}

 
