<mat-toolbar color="primary">
  <span>CrudManager</span>

  <nav>
    <ul>
      <li><a mat-button routerLink="/home" routerLinkActive="active-link" [routerLinkActiveOptions]="{ exact: true }">Home</a></li>
      <li><a mat-button routerLink="/impiegati" routerLinkActive="active-link" [routerLinkActiveOptions]="{ exact: true }">Impiegati</a></li>
      <li><a mat-button routerLink="/uffici" routerLinkActive="active-link" [routerLinkActiveOptions]="{ exact: true }">Uffici</a></li>
    </ul>
  </nav>
</mat-toolbar>

<router-outlet></router-outlet>
