<h2 mat-dialog-title>Impiegati nell'ufficio {{ data.nomeUff }} </h2>

<mat-dialog-content *ngIf="data.impiegati?.length > 0; else noData">
    <div *ngFor="let impiegato of data.impiegati">
      <div><strong>{{impiegato.id}} {{ impiegato.nome }} {{ impiegato.cognome }}</strong></div>
      <div>{{ impiegato.email }}</div>
      <mat-divider></mat-divider>
    </div>
  </mat-dialog-content>
  

<ng-template #noData>
    <p>Nessun impiegato associato a questo ufficio.</p>
</ng-template>

<mat-dialog-actions align="end">
    <button mat-button mat-dialog-close color="primary">Chiudi</button>
</mat-dialog-actions>