<mat-sidenav-container class="container">
  <!-- barra laterale verticale/sidebar -->
  <mat-sidenav mode="side" opened class="sidenav">
    <mat-nav-list>  
      <mat-list-item (click)="setView('impiegati')" [class.selected]="currentView === 'impiegati'">
        <mat-icon>people</mat-icon> Lista Impiegati
      </mat-list-item> 
      <mat-list-item (click)="setView('impiegati-sedi')" [class.selected]="currentView === 'impiegati-sedi'">
        <mat-icon>business</mat-icon> Relazione Impiegato-Sede
      </mat-list-item>
      <mat-list-item (click)="setView('')" [class.selected]="currentView === ''">   <!-- da implementare -->
        <mat-icon>star</mat-icon> View 3
      </mat-list-item>
      <mat-list-item (click)="setView('')" [class.selected]="currentView === ''">   <!-- da implementare -->
        <mat-icon>settings</mat-icon> View 4
      </mat-list-item>
    </mat-nav-list>
  </mat-sidenav>

  <!-- Contenuto principale -->
<mat-sidenav-content class="content">
  <ng-container [ngSwitch]="currentView">

    <!-- VIEW 1: Lista Impiegati -->
    <div *ngSwitchCase="'impiegati'">
      <div class="divbutton">
        <button mat-raised-button (click)="openAggModImpForm()" style="background-color:rgb(31, 213, 195);">
          AGGIUNGI IMPIEGATO
        </button>
      </div>

      <div class="main-body">
        <mat-form-field>
          <mat-label>Filter</mat-label>
          <input matInput (keyup)="applyFilter($event)" placeholder="Ex. pippo" #input>
        </mat-form-field>

        <div class="table-container">
          <table mat-table [dataSource]="dataSource" matSort>

            <!-- id Column -->
            <ng-container matColumnDef="id">
              <th mat-header-cell *matHeaderCellDef mat-sort-header> ID </th>
              <td mat-cell *matCellDef="let row"> {{row.id}} </td>
            </ng-container>

            <!-- nome Column -->
            <ng-container matColumnDef="nome">
              <th mat-header-cell *matHeaderCellDef mat-sort-header> Nome </th>
              <td mat-cell *matCellDef="let row"> {{row.nome}}</td>
            </ng-container>

            <!-- cognome Column -->
            <ng-container matColumnDef="cognome">
              <th mat-header-cell *matHeaderCellDef mat-sort-header> Cognome </th>
              <td mat-cell *matCellDef="let row"> {{row.cognome}}</td>
            </ng-container>

            <!-- email Column -->
            <ng-container matColumnDef="email">
              <th mat-header-cell *matHeaderCellDef mat-sort-header> Email </th>
              <td mat-cell *matCellDef="let row"> {{row.email}}</td>
            </ng-container>

            <!-- datadinascita Column -->
            <ng-container matColumnDef="datadinascita">
              <th mat-header-cell *matHeaderCellDef mat-sort-header class="ddn">Data di Nascita</th>
              <td mat-cell *matCellDef="let row"> {{row.datadinascita | date: 'yyyy-MM-dd' : '+0100'}}</td>
            </ng-container>

            <!-- genere Column -->
            <ng-container matColumnDef="genere">
              <th mat-header-cell *matHeaderCellDef mat-sort-header> Genere </th>
              <td mat-cell *matCellDef="let row"> {{row.genere}}</td>
            </ng-container>

            <!-- istruzione Column -->
            <ng-container matColumnDef="istruzione">
              <th mat-header-cell *matHeaderCellDef mat-sort-header> Istruzione </th>
              <td mat-cell *matCellDef="let row"> {{row.istruzione}}</td>
            </ng-container>

            <!-- azienda Column -->
            <ng-container matColumnDef="azienda">
              <th mat-header-cell *matHeaderCellDef mat-sort-header> Azienda </th>
              <td mat-cell *matCellDef="let row"> {{row.azienda}}</td>
            </ng-container>

            <!-- esperienza Column -->
            <ng-container matColumnDef="esperienza">
              <th mat-header-cell *matHeaderCellDef mat-sort-header> Esperienza</th>
              <td mat-cell *matCellDef="let row"> {{row.esperienza}}</td>
            </ng-container>

            <!-- ral Column -->
            <ng-container matColumnDef="ral">
              <th mat-header-cell *matHeaderCellDef mat-sort-header class="ral">RAL/€</th>
              <td mat-cell *matCellDef="let row"> {{row.ral}}K</td>
            </ng-container>

            <!-- codUff Column 
            <ng-container matColumnDef="codUff">
              <th mat-header-cell *matHeaderCellDef mat-sort-header>cod. Ufficio</th>
              <td mat-cell *matCellDef="let row"> {{row.codUff}}</td>
            </ng-container> -->

            <!-- Colonna Azioni -->
            <ng-container matColumnDef="action">
              <th mat-header-cell *matHeaderCellDef mat-sort-header> Action</th>
              <td mat-cell *matCellDef="let row" class="online">
                <button mat-icon-button color="primary" (click)="apriModForm(row)">
                  <mat-icon>edit</mat-icon>
                </button>

                <button mat-icon-button color="warn" (click)="eliminaImpiegato(row.id)">
                  <mat-icon>delete</mat-icon>
                </button>
              </td>
            </ng-container>

            <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
            <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>

            <!-- Nessun dato trovato -->
            <tr class="mat-row" *matNoDataRow>
              <td class="mat-cell" colspan="4">No data matching the filter "{{input.value}}"</td>
            </tr>
          </table>

          <mat-paginator [pageSizeOptions]="[5, 10, 25, 100]" aria-label="Select page of users"></mat-paginator>
        </div>
      </div>
    </div>

    <!-- VIEW 2: Relazione Impiegato-Sede -->

    <div *ngSwitchCase="'impiegati-sedi'">

      <div class="main-body">
        <mat-form-field>
          <mat-label>Filter</mat-label>
          <input matInput (keyup)="applyFilter($event)" placeholder="Ex. pippo" #input>
        </mat-form-field>
    
        <div class="table-container">
          <mat-table *ngIf="dataSourceView2.data.length > 0" [dataSource]="dataSourceView2" matSort class="mat-elevation-z8">
    
            <!-- ID Impiegato -->
            <ng-container matColumnDef="id">
              <th mat-header-cell *matHeaderCellDef mat-sort-header> ID Impiegato </th>
              <td mat-cell *matCellDef="let row"> {{row.id}} </td>
            </ng-container>
    
            <!-- Nome -->
            <ng-container matColumnDef="nome">
              <th mat-header-cell *matHeaderCellDef mat-sort-header> Nome </th>
              <td mat-cell *matCellDef="let row"> {{row.nome}} </td>
            </ng-container>
    
            <!-- Cognome -->
            <ng-container matColumnDef="cognome">
              <th mat-header-cell *matHeaderCellDef mat-sort-header> Cognome </th>
              <td mat-cell *matCellDef="let row"> {{row.cognome}} </td>
            </ng-container>
    
            <!-- Sede -->
            <ng-container matColumnDef="sede">
              <th mat-header-cell *matHeaderCellDef mat-sort-header> Sede </th>
              <td mat-cell *matCellDef="let row"> {{row.sede}} </td>
            </ng-container>
    
            <tr mat-header-row *matHeaderRowDef="displayedColumnsView2"></tr>
            <tr mat-row *matRowDef="let row; columns: displayedColumnsView2;"></tr>
    
            <!-- Nessun dato trovato -->
            <tr class="mat-row" *matNoDataRow>
              <td class="mat-cell" colspan="4">No data matching the filter "{{input.value}}"</td>
            </tr>
          </mat-table>
    
          <mat-paginator [pageSizeOptions]="[5, 10, 25, 100]" aria-label="Select page of users"></mat-paginator>
        </div>
      </div>
    
    </div>
  </ng-container>
</mat-sidenav-content>

</mat-sidenav-container>