.divbutton {
  display: flex;
  justify-content: right;
  align-items: center;
  margin-right: 50px;
  padding-top: 10px;

}


mat-sidenav {
  background-color: #b3e0ff;
  color: #333;
}


mat-nav-list {
  background-color: #b3e0ff;


}


mat-nav-list mat-list-item {

  border-radius: 10px;
  border: 1px solid #333;
  padding-top: 20px;
  padding-bottom: 20px;
}


mat-nav-list mat-list-item.selected {
  background-color: rgb(31, 213, 195);
  /* Colore per la voce selezionata */
  color: hsl(0, 33%, 95%);
}


mat-nav-list mat-list-item {
  background-color: transparent;
  /* Nessun colore per le voci non selezionate */
  color: #333;
  margin-bottom: 5px;

}

mat-nav-list mat-list-item:hover {
  background-color: #b3ffdd; /* verdino chiaro al passaggio del mouse */
  color: #333;

}

.table-container {
  width: 100%;
  margin-top: 20px;
  background: rgb(242, 234, 234);
  border-radius: 8px;
  padding: 10px;
  flex-grow: 1;
  overflow: auto;
}

mat-table {
  width: 100%;
  border-radius: 8px;
  table-layout: fixed;
}

mat-header-row {
  color: #333;
  font-weight: bold;
  width: 25%;
}

mat-row:hover {
  background: #f5f5f5;
}

th,
td {
  padding: 12px;
  text-align: center;
}

.mat-elevation-z8 {
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
}

mat-form-field {
  width: 250px;
  margin-bottom: 15px;

}

